extends ../layout

block body
  .container.aboutus
    p.title 小得是啥？
    .con
      p.detail 小得是一个针对创业公司的轻分享平台。
    .con
      p.detail 我们的分享者一般都是知名案例的第一操刀者，可能你没有听过这个人，但是你一定知道他做的事。我和他们约定好了，不准讲别的，只讲一种东西：实战经验。
    .con
      p.detail 面向群体：创业公司的在职小伙伴，十几个人；
      p.detail 付费价格：默认为2000元-10000元/次，初期推广价为2000元；
      p.detail 时间构成：一次两小时（包括一个半小时的分享，半个小时的自由交流）；
      p.detail 典型场景：公司的会议室；
      p.detail 典型时间：工作日的晚上；
    .con
      p.detail 当然，时间、频次、地点、价格与主题都可以双方协商。
      p.detail 对于许多创业公司来说，总会有一些内部问题无处求解，直接招聘合适的人才非常困难，对于传统咨询方式的时间要求和金钱要求又很高。这个时候，「小得」就来啦。
    .con
      p.detail 我们选择的是一种「最轻的触发方式」，请知名案例的直接操盘手进公司内部分享。这种解决方案与传统培训公司相比，更加适合互联网创业企业。传统培训往往持续至少一到两天，典型单价几万元一次，需要一个完整的时间段和较高的经济成本。而小得更轻松，更实战，平时工作日的晚上分享就可以有实战分享，机动灵活，生动营养。
    .con
      p.detail 「偶有小得，亦能点津」。我们并不希望带来一种明显的「上对下」「大咖对nobody」的感觉，小得的分享，是在非常平等、轻松的氛围下互相学习的过程。当然，我们也会要求分享者遵守职业道德，不会泄露就职公司的商业机密。
    .con
      p.detail 最后，我们有两个重要的合作伙伴：B12与良仓孵化器。
    .con
      p.detail 如果你想要联系我们，就可以在「小得」的公众号直接回复，我们会派出先遣小分队来配合各种你能想到的需求。另外，在服务号内回复相应数字序号，新鲜劲爆的分享话题页面就会蹦出来。
    .con
      p.detail 对啦，我们现在只在杭州，外地的童鞋们请等待我们，我们正在赶过去的路上！~

    img.qrcode(src="public/img/logo/xd_wx.jpg", alt="")
      










  include ../includes/footer

block script
  script(src="public/js/cbd.min.js")