extends ../layout

block body
  include ../includes/header
  include ../includes/header_mobile
  .container.center
    .personal-info
      .top-bg.lazy(data-original="my/img/1.jpg")
      .selfie.lazy(data-original="my/img/1.jpg")
      p.title 史新帅
    ul.nav
      li.tab.active
        a(href="") 我的预约
      li.tab
        a(href="") 我想听的
      li.tab
        a(href="setting.html") 账户设置
    .article-lists
      mixin article-list
        .article-list
          a(href="detail.html")
            .art-tag 融资／Finance
            .art-banner.lazy(data-original="my/img/1.jpg")
            p.art-title 教你认识资本市场，掌握企业融资工具！
            p.art-brief 如果你过去一心扑在产品开发、业务拓展上，对资本市场一无所知
          .art-tool
            span.like
              i.iconfont.icon-heart
              | 35145
        &nbsp;
      +article-list
      +article-list
      +article-list
      +article-list
      +article-list
      +article-list
      +article-list
      +article-list
      .article-list.left-fix
    .change-pages
      | 这里是翻页



  include ../includes/footer

block script
  script(src="public/js/cbd.min.js")