extends ../layout

block body
  .container.listen
    p.title 如何预约分享者
    p.detail 对，每一位创业者都是都曾经有过辗转难眠的夜晚，有过难以启齿的苦衷，有过无处解答的疑问。
    p.detail 所以，「小得」来了。
    p.detail 小得作为一款针对创业公司内部的轻分享工具，可以通过远低于传统培训的价格，请来知名实战案例的操刀者来公司进行面对面分享。
    p.detail 邀请分享者的详细操作步骤：
    p.detail 1、在「小得」网站／服务号中选择分享者申请预约，花三分钟填写公司基本信息
    p.detail 2、分享者确认接单（可能存在档期等问题，无法接单）
    p.detail 3、购买方付款给小得；随后由小得工作人员拉微信群，双方协商分享时间、地点
    p.detail 4、分享者登门分享，小得会派至少一名工作人员现场协助
    p.detail 5、评价与反馈
    p.detail(style="font-weight:bold;") P.S. 如果还有一些话题需求不在列表之中，如果你还有更多的获取分享的需求，请关注「小得」服务号呼叫我们。我们会用互联网速度帮助你匹配相应的分享者，开发对应你需求的分享内容滴。

    img.qrcode(src="public/img/logo/xd_wx.jpg", alt="")
      










  include ../includes/footer

block script
  script(src="public/js/cbd.min.js")