extends ../layout

block body
  .container.center
    .personal-info
      .top-bg.lazy(data-original="my/img/1.jpg")
      .selfie.lazy(data-original="my/img/1.jpg")
      p.title 史新帅
    ul.nav
      li.tab
        a(href="center.html") 我的预约
      li.tab
        a(href="") 我想听的
      li.tab.active
        a(href="setting.html") 账户设置
    .setting
      form(action="").form-group
        .input-group(style="border-bottom: 1px solid rgba(0,0,0,0.1)")
          i.iconfont.icon-jinlingyingcaiwangtubiao41
          | Hi，您好，请如实填写一下信息，让我们更好的为您服务
        .input-group
          label(for="username") 昵称：
          input(type="text")
        .input-group
          label(for="username") 手机：
          input(type="text")
        .input-group
          label(for="username") 微信：
          input(type="text")
        .input-group
          label(for="username") 公司：
          input(type="text")
        .input-group
          label(for="username") 岗位：
          input(type="text")
        .input-group(style="border-top: 1px solid rgba(0,0,0,0.1)")
          input.submit(type="submit" value="保存")





  include ../includes/footer

block script
  script(src="public/js/cbd.min.js")