extends ../layout

block body
  .container.become-share-con.about
    p.title 分享者说明
    p.detail 即日起，「小得」对小有所得、热爱分享的朋友们全面开放申请。
    p.detail 小得现在聚集了许多的爆款分享者
    p.detail 他们有写出过100万+阅读量文章的90后作者
    p.detail 有免费做出全国影响力市场活动的年轻策划人
    p.detail 有免费做出全国影响力市场活动的年轻策划人
    p.detial 有在阿里产品线上耕耘十数年的老产品经理
    p.detail 每一个人的分享单价会随着需求行情与个人期望值而实时调整
    p.detail 每一个人的分享单价会随着需求行情与个人期望值而实时调整
    p.detail 至于其他的嘛，不限工龄，不限取向，不限颜值，不限风格
    p.detail 在当前的推广期，小得不会向分享者收取任何服务费，单次分享的价格默认为2000元/次
    p.detail 同时，我们希望分享者能够遵守职业道德，保守所在公司的商业秘密，在分享过程中建立起正面的自我品牌
    p.detail(style="font-weight: bold") 关注「小得」服务号立即报名。48小时内必有一通电话找到你
    img.qrcode(src="public/img/logo/xd_wx.jpg", alt="")











  include ../includes/footer

block script
  script(src="public/js/cbd.min.js")