header.header-mobile
  .not-wx-alert
    p 需要微信登录，请复制网页链接地址至微信打开页面登录
    i.iconfont.icon-close-1.icon-close-js
  .container
    i.iconfont.icon-caidan.icon-ham-js(data-navshow="0")
    .xd-logo
      | 小得
    i.iconfont.icon-ren.mobile-signin-js
  nav.mobile-nav-js
    ul
      li
        a(href="index.html")
          i.iconfont.icon-home-1 
          b 首页
      li
        a(href="topic.html")
          i.iconfont.icon-fanerhuati 
          b 话题
      li
        a(href="topic.html")
          i.iconfont.icon-fanerhuati 
          b 我想讲
      li
        a(href="topic.html")
          i.iconfont.icon-fanerhuati 
          b 我想听
      li
        a(href="topic.html")
          i.iconfont.icon-fanerhuati 
          b 小得是啥
          